{% extends "layout.html.twig" %}

{% block title %}
add
{% endblock %}

{% block content %}
<div class="container">

<section class="p-5">
    <h1>Add an item</h1>
    <form action="" method="post" >
        <div class="form-group">
            <label for="item">item</label>
            <input type="text" class="form-control" id="item" name="item" placeholder="item" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>

</div>
{% endblock %}