<form action="" method="post" >
    <div class="form-group">
        <label for="category">category</label>
        <input type="text" class="form-control" id="category" name="category" value="{{ category.name }}" placeholder="category" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>