
{% extends "layout.html.twig" %}

{% block title %}
item
{% endblock %}
{% block content %}

<div class="container">
    <section class="class p-5">
        <main>
            <h1>Item {{ item.title }}</h1>
            <div class="row mb-5">
               <div class="col-2">
                    <ul>
                        <li>Id : {{ item.id }}</li>
                    </ul>
               </div>
               <div class="col-2">
                   <a href="/item/delete/{{ item.id }}">
                       <button type="button" class="btn btn-outline-danger">Delete</button>
                   </a>
               </div>
                <div class="col-2">
                    <a href="/item/edit/{{ item.id }}">
                        <button type="button" class="btn btn-outline-success">Edit</button>
                    </a>
                </div>
            </div>
            <a href="/">
                <button type="button" class="btn btn-outline-info">Back to list</button>
            </a>
        </main>
    </section>
</div>
{% endblock %}