{% extends "layout.html.twig" %}

{% block title %}
    category
{% endblock %}

{% block content %}
<div class="container">

    <section class="p-5">
        <h1>Category {{ category.name }}</h1>
        <div class="row mb-5">
            <div class="col-2">
                <ul>
                    <li>Id : {{ category.id }}</li>
                </ul>
            </div>
            <div class="col-2">
                <a href="/category/delete/{{ category.id }}">
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </a>
            </div>
            <div class="col-2">
                <a href="/category/edit/{{ category.id }}">
                    <button type="button" class="btn btn-outline-success">Edit</button>
                </a>
            </div>
        </div>
        <a href='/categories'>
            <button type="button" class="btn btn-outline-info">Back to the future</button>
        </a>

    </section>

</div>
{% endblock %}